.dashboard-title {
  color: @secondary-color;
  font-size: 32px;
  font-weight: normal;
  line-height: 32px;
}

.dashboard-header {
  height: 60px;
}

.dashboard-body {
  // background-color: black;
}

.card-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
  justify-content: space-between;
  gap: 50px;
}

@media only screen and (max-width: 768px) {
  .dashboard-body {
    // background-color: black;
    height: 100vh;
  }
}
