.form-text-area > textarea {
  border-radius: 20px !important;
  border: 1px solid @secondary-color !important;
}

.avatar-uploader {
  border-radius: 100% !important;
}

.form-label {
  margin: 0px !important;
}

.form-input-field {
  border-radius: 20px !important;
  border: 1px solid @secondary-color !important;
}
